body {
  display: none;
  background-color: burlywood;
}

ul li {
  list-style: none;
  border-bottom: 1px solid gray;
  padding: 10px;
}

#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
